<!DOCTYPE html>
<html>

<head>
    <title>Blogbook</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

</head>

<body>
    <header class="header">
        <div class="container">
            <a href="/" class="logo">blogbook</a>
            <ul class="menu">
                <li><a href="/">Hello</a></li>
            </ul>
        </div>
    </header>