<% include header.ejs %>
<div class="main">
  <div class="container">
    <div class="content">
      <div class="post">
        <div class="top">
          <h2>Title</h2>
        </div>
        <div class="body">
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Placeat nesciunt eos aut animi eius alias ut et dolore iste praesentium,
            exercitationem dolorem dolor pariatur quae in enim autem reprehenderit? Molestias!</p>
        </div>
        <div class="bottom">
          <div class="author">
            Author: <a href="/">User</a>
          </div>
          <a href="/">Comments</a>
        </div>
      </div>
      <div class="post">
        <div class="top">
          <h2>Title</h2>
        </div>
        <div class="body">
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Placeat nesciunt eos aut animi eius alias ut et dolore iste praesentium,
            exercitationem dolorem dolor pariatur quae in enim autem reprehenderit? Molestias!</p>
        </div>
        <div class="bottom">
          <div class="author">
            Author: <a href="/">User</a>
          </div>
          <a href="/">Comments</a>
        </div>
      </div>
    </div>
    <% include sidebar.ejs %>
  </div>
</div>
<% include footer.ejs %>