$primaryColor: rgb(43, 36, 136);
$secondaryColor: rgb(226, 114, 9);
$successColor: rgb(92, 226, 9);
$errorColor: rgb(227, 87, 62);
$borderRadius: 2px;

@import 'reset';
@import 'grid';
@import 'typography';
@import 'forms';
@import './../../node_modules/medium-editor/dist/css/medium-editor';
@import './../../node_modules/medium-editor/dist/css/themes/default';
  
html {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
body{
  display: flex;
  flex-direction: column;
  flex: auto;
  color: black;
  background-color: lighten($color: lightgray, $amount: 15);
  padding-top: 65px;
}

a {
  color: #00B7FF;
}

@import 'header';
@import 'main';
@import 'footer';
@import 'components/post';
@import 'components/auth';