<% include ../header.ejs %>
<div class="main">
  <div class="container">
    <div class="content add-post">
      <form method="POST" class="post-form">
        <h2>Добавление поста</h2>
        <div class="form-group">
          <label for="post-title">Заголовок</label>
          <input type="text" id="post-title" name="title" />
        </div>
        <div class="form-group">
          <label for="post-body">Текст</label>
          <textarea id="post-body" name="body"></textarea>
        </div>
        <div class="buttons">
          <button class="save-button secondary-inverse">Сохранить как черновик</button>
          <button class="publish-button">Опубликовать</button>
        </div>
      </form>
    </div>
    <% include ../sidebar.ejs %>
  </div>
</div>
<footer class="footer">
  <div class="container">
          blogbook
  </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="./../javascripts/scripts.js"></script>
</body>
</html>